package {{ names['dao_package_name'] }};

import {{ names['dao_interface_package_name'] }}.{{ names['dao_interface_name'] }};
import {{ names['entity_package_name'] }}.{{ names['entity_name'] }};
import {{ names['mapper_package_name'] }}.{{ names['mapper_name'] }};
import org.springframework.stereotype.Repository;

import javax.annotation.Resource;

@Repository
public class {{ names['dao_name'] }} implements {{ names['dao_interface_name'] }} {

    @Resource(type = {{ names['mapper_name'] }}.class)
    private {{ names['mapper_name'] }} {{ names['mapper_variable_name'] }};

    @Override
    public int insert({{ names['entity_name'] }} {{ names['entity_variable_name'] }}) {
        return this.{{ names['mapper_variable_name'] }}.insertSelective({{ names['entity_variable_name'] }});
    }

    @Override
    public {{ names['entity_name'] }} selectById({{ primary_keys }}) {
        return this.{{ names['mapper_variable_name'] }}.selectById({{ primary_keys_exclude_type }});
    }

    @Override
    public int updateSelectiveById({{ names['entity_name'] }} {{ names['entity_variable_name'] }}) {
        return this.{{ names['mapper_variable_name'] }}.updateSelectiveById({{ names['entity_variable_name'] }});
    }

    @Override
    public int deleteById(Long id) {
        return this.{{ names['mapper_variable_name'] }}.deleteById(id);
    }

    @Override
    public int batchDeleteByIds(List<Long> ids) {
        return this.{{ names['mapper_variable_name'] }}.batchDeleteByIds(ids);
    }
}