package {{ names['dao_interface_package_name'] }};

import {{ names['entity_package_name'] }}.{{ names['entity_name'] }};

public interface {{ names['dao_interface_name'] }} {
    /**
     * 添加 {{ names['entity_name'] }}
     * @param {{ names['entity_variable_name'] }}
     */
    void insert({{ names['entity_name'] }} {{ names['entity_variable_name'] }});

    /**
     * 根据主键查询 {{ names['entity_variable_name'] }}{% for column in columns%}{% if column['is_primary'] %}
     * @param {{ column['property'] }}{% endif %}{% endfor %}
     * @return
     */
    {{ names['entity_name'] }} selectByPrimaryKey({{ primary_keys }});
}
