package {{ package_name }};

import {{dao_interface_package_name}}.{{dao_interface_name}};
import org.springframework.stereotype.Repository;

@Repository
public class {{class_name}} implements {{dao_interface_name}} {
}