package {{ names['dao_package_name'] }};

import {{ names['dao_interface_package_name'] }}.{{ names['dao_interface_name'] }};
import {{ names['entity_package_name'] }}.{{ names['entity_name'] }};
import {{ names['mapper_package_name'] }}.{{ names['mapper_name'] }};
import org.springframework.stereotype.Repository;

import javax.annotation.Resource;

@Repository
public class {{ names['dao_name'] }} implements {{ names['dao_interface_name'] }} {

    @Resource(type = {{ names['mapper_name'] }}.class)
    private {{ names['mapper_name'] }} {{ names['mapper_variable_name'] }};

    public void insert({{ names['entity_name'] }} {{ names['entity_variable_name'] }}) {
        this.{{ names['mapper_variable_name'] }}.insertSelective({{ names['entity_variable_name'] }});
    }

    public {{ names['entity_name'] }} selectByPrimaryKey({{ primary_keys }}) {
        return this.{{ names['mapper_variable_name'] }}.selectByPrimaryKey({{ primary_keys_exclude_type }});
    }

    public void updateSelectiveByPrimaryKey({{ primary_keys }}) {
        this.{{ names['mapper_variable_name'] }}.updateSelectiveByPrimaryKey({{ primary_keys_exclude_type }});
    }
}