package {{ names["entity_package_name"] }};

import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.io.Serializable;
import java.time.LocalDateTime;

@AllArgsConstructor
@NoArgsConstructor
@Builder
@Data
public class {{ names["entity_name"] }} implements Serializable {
    {% for item in columns %}
    private {{ item["property_type"] }} {{ item["property"] }};
    {% endfor %}
}