package {{ package_name }};

import lombok.Data;

@Data
public class {{ class_name }} {
    {% for item in java_fields %}
    private {{ item["property_type"] }} {{ item["property"] }};
    {% endfor %}
}