package {{ names['package_name'] }};

import java.util.List;
import {{ names['entity_package_name'] }}.{{ names['entity_name'] }};

public interface {{ names['mapper_name'] }} {
    int insertSelective({{ names['entity_name'] }} {{ names['entity_variable_name'] }});

    {{ names['entity_name'] }} selectByPrimaryKey({{ primary_keys }});
}