<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ names['mapper_package_name'] }}.{{ names['mapper_name'] }}">
  <resultMap id="BaseResultMap" type="{{ names['entity_package_name'] }}.{{ names['entity_name'] }}">{% for column in columns%}{% if column['is_primary'] %}
    <id column="{{ column['column'] }}" jdbcType="{{ column['jdbc_type'] }}" property="{{ column['property'] }}" />{% else %}
    <result column="{{ column['column'] }}" jdbcType="{{ column['jdbc_type'] }}" property="{{ column['property'] }}" />{% endif %}{% endfor %}
  </resultMap>

  <sql id="BaseTableName">
    `{{ names['table_name'] }}` as base
  </sql>
  <sql id="TableName">
    `{{ names['table_name'] }}`
  </sql>

  <sql id="BaseColumns">
    {%for column in columns%}{%if loop.index != 1 %}, {% endif %}base.`{{ column['column'] }}`{% endfor %}
  </sql>

  <insert id="insert" parameterType="{{ names['entity_package_name'] }}.{{ names['entity_name'] }}"    keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="TableName" />
     <trim prefix="(" suffix=")" suffixOverrides="," >
        {%for column in columns%}<if test="po.{{ column['property'] }} != null">{{column['column']}},</if>
        {%endfor%}
     </trim>
     <trim prefix="values(" suffix=")" suffixOverrides="," >
        {%for column in columns%}<if test="po.{{ column['property'] }} != null">#{ po.{{column['property']}}, jdbcType={{column['jdbc_type']}} },</if>
        {%endfor%}
     </trim>
  </insert>

  <insert id = "batchInsert"   keyColumn="id" useGeneratedKeys="true" keyProperty="id">
    insert into <include refid="TableName" /> (
        {%for column in columns  if column['column'] not in ('id', 'create_time', 'update_time', 'is_deleted') %}{%if loop.index != 1 %}, {% endif %}`{{ column['column'] }}`{% endfor %}
    ) values
    <foreach collection="list" item="item" separator=",">
    (
        <trim suffixOverrides=",">
         {%for column in columns if column['column'] not in ('id', 'create_time', 'update_time', 'is_deleted')%}
         #{ item.{{column['property']}}, jdbcType={{column['jdbc_type']}} },
        {%endfor%}
        </trim>
    )
    </foreach>
  </insert>

  <update id="update">
    update <include refid="TableName" />
    <trim prefix="set " suffixOverrides=",">
        {% for column in columns %}{% if not column['is_primary']  %}
        <if test="po.{{ column['property'] }} != null">
            {{ column['column'] }} = #{ po.{{column['property']}}, jdbcType={{column['jdbc_type']}} },
        </if>{% endif %}{% endfor %}
    </trim>
    <where>
        and id = #{ po.id, jdbcType=BIGINT }
    </where>
  </update>

  <update id="batchUpdate">
    <foreach collection="list" item="item" separator=";">
        update <include refid="TableName" />
            <trim prefix="set " suffixOverrides=",">
            {% for column in columns if column['column'] not in ('id', 'create_time', 'update_time', 'is_deleted')%}
            <if test="item.{{ column['property'] }} != null">
                {{ column['column'] }} = #{ item.{{column['property']}}, jdbcType={{column['jdbc_type']}} },
            </if>{% endfor %}
            </trim>
        <where>
            and id = #{ item.id, jdbcType=BIGINT }
        </where>
    </foreach>
  </update>

  <select id="selectById" resultMap="BaseResultMap">
    select
        <include refid="BaseColumns" />
    from <include refid="BaseTableName" />
    <where>
        is_deleted = 0
        and id = #{ id, jdbcType=BIGINT }
    </where>
  </select>

  <select id="selectByCondition" resultMap="BaseResultMap">
    select
        <include refid="BaseColumns" />
    from <include refid="BaseTableName" />
    <where>
        is_deleted = 0
        <if test = "po != null">
          {% for column in columns if column['column'] not in ('is_deleted')%}
            <if test="po.{{ column['property'] }} != null">
              and {{ column['column'] }} = #{ po.{{column['property']}}, jdbcType={{column['jdbc_type']}} }
            </if>{% endfor %}
        </if>
    </where>
  </select>

   <select id="selectByIds" resultMap="BaseResultMap">
    select
        <include refid="BaseColumns" />
        from <include refid="BaseTableName" />
        where is_deleted = 0
            and id in
            <foreach collection="list" item="item" open="(" separator="," close=")">
                #{item, jdbcType=BIGINT}
            </foreach>
  </select>

  <update id="deleteById">
    update <include refid="TableName" />
        set is_deleted = 1,
            update_by = #{updateBy, jdbcType=BIGINT}
    where id = #{id, jdbcType=BIGINT}
  </update>

  <update id="batchDeleteByIds">
    update <include refid="TableName" />
        set is_deleted = 1,
            update_by = #{updateBy, jdbcType=BIGINT}
    where
        is_deleted = 0
        and id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item, jdbcType=BIGINT}
         </foreach>
  </update>
  <!-- auto generate code end -->

</mapper>