<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{ names['mapper_package_name'] }}.{{ names['mapper_name'] }}">
  <resultMap id="BaseResultMap" type="{{ names['entity_package_name'] }}.{{ names['entity_name'] }}">{% for column in columns%}{% if column['is_primary'] %}
    <id column="{{ column['column'] }}" jdbcType="{{ column['jdbc_type'] }}" property="{{ column['property'] }}" />{% else %}
    <result column="{{ column['column'] }}" jdbcType="{{ column['jdbc_type'] }}" property="{{ column['property'] }}" />{% endif %}{% endfor %}
  </resultMap>

  <sql id="BaseTableName">
    `{{ names['table_name'] }}` as base
  </sql>

  <sql id="BaseColumns">
    {%for column in columns%}{%if loop.index != 1 %}, {% endif %}base.`{{ column['column'] }}`{% endfor %}
  </sql>

  <insert id="insertSelective" parameterType="{{ names['entity_package_name'] }}.{{ names['entity_name'] }}" {%for column in columns%}{%if column['is_auto_increment']%} keyColumn="{{column['column']}}" useGeneratedKeys="true" keyProperty="{{column['property']}}"{%endif%}{%endfor%}>
    insert into <include refid="BaseTableName" />
     <trim prefix="(" suffix=")" suffixOverrides="," >
        {%for column in columns%}<if test="{{ column['property'] }} != null">{{column['property']}},</if>
        {%endfor%}
     </trim>
     <trim prefix="values(" suffix=")" suffixOverrides="," >
        {%for column in columns%}<if test="{{ column['property'] }} != null">#{ {{column['property']}}, jdbcType={{column['jdbc_type']}} },</if>
        {%endfor%}
     </trim>
  </insert>

  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
        <include refid="BaseColumns" />
    from <include refid="BaseTableName" />
    <where>  {%for column in columns%}{% if column['is_primary'] %}
        and {{ column['column'] }} = #{ {{column['property']}}, jdbcType={{column['jdbc_type']}} }{% endif %}{%endfor%}
    </where>
  </select>
</mapper>